@use "base";

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

$primary-color: rgb(92, 30, 150);
$secondary-color: rgb(105, 105, 105);

.primary {
  color: $primary-color;
}

.secondary {
  color: $secondary-color;
}

footer {
  p {
    @include transform(translate(10px));
    color: $secondary-color;
  }
}
