$font-stack: Helvetica, sans-serif;
$text-color: rgb(34, 34, 34);
$primary-color: rgb(71, 112, 158);
$secondary-color: rgb(105, 105, 105);

html {
  font: 100% $font-stack;
  color: $text-color;
}

.primary {
  color: $primary-color;
}

.secondary {
  color: $secondary-color;
}
